@font-face {
    font-family: 'rather_loudbold';
    src: url('rather-loud-webfont.eot');
    src: url('rather-loud-webfont.eot?#iefix') format('embedded-opentype'),
         url('rather-loud-webfont.woff2') format('woff2'),
         url('rather-loud-webfont.woff') format('woff'),
         url('rather-loud-webfont.ttf') format('truetype'),
         url('rather-loud-webfont.svg#rather_loudbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5{
	font-family: 'rather_loudbold';
}

.title h1, .title h2{
	font-family: 'rather_loudbold';
}

p, a{
    font-family:arial;

}