.social-media{
	background: #ebdfd0;
	text-align: center;
}

.socal-media ul{
	list-style-type: none;
}

.social-media ul li{
	display: inline;
	margin-right: 15%;
}

.social-media ul li:hover{
	opacity: 0.7;
}