.social-media{
	background: #ebdfd0;
	text-align: center;
	color: #33302d;
}

.social-media h2{
	padding-top: 20px;
}

.socal-media ul{
	list-style-type: none;
	margin: auto;
}

ul{
	padding:0;
}

.social-media ul li{
	display: inline-block;
	margin-right: 30px;
	padding: 10px 0;
}

.social-media ul li:hover{
	opacity: 0.7;
}

footer{

}

footer a{
	text-decoration: none;
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #33302d;
	font-size: 20px;
	display: block;
	color: #33302d;

	background-image: url('../images/call-to-action-newsletter.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50px 50px;
}

footer a:hover{
	opacity: 0.7;
}

footer .top-cont{
	list-style-type: none;
	text-align: center;
	display: none;
}

footer .top-cont li{
	color: #33302d;
	padding:10px;
}









