header{
	width: 100%;
	min-height: 550px;
	overflow: hidden;
	position: relative;
	background-image: url('../images/header.jpg');
	background-size: cover;
	color: #fff;
}

header a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	margin-top:1px;
	vertical-align: middle;
}

header .top{
	display: block;
	margin: 0;
}

header .top .logo{
	width: 80px;
	padding: 7px 0;
	margin: 0 1% 0 10%;
}

header .top .menu{
	width: 50px;
	margin: 10px 0 1% 45%;

}

header .bottom{
	display: block;
	margin-top:190px;
	padding: 10%;
}

header .bottom .arrow{
	width: 18px;
}
