header{
	width: 100%;
	min-height: 550px;
	overflow: hidden;
	position: relative;
	background-image: url('../images/pug.png');
	background-size: cover;
	color: #fff;
}

header a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}


header .top{
	display: block;
	margin: 0;
}

header .top .logo{
	width: 80px;
	padding: 7px 0;
	margin: 10px 1% 0 10%;
	float: left;
	padding-top: 25px;
}

header .top a:hover{
	opacity: 0.9;
}

header .top .menu{
	color: #33302d;
	padding: 40px 10px;
	float: right;

	background-image: url('../images/menu-icon.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 70px 70px;
}

header .bottom .member-link{
	display: inline-block;
	padding-right: 30px;

	background-image: url('../images/call-to-action-white.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 22px;
}

header .bottom a:hover{
	opacity: 0.8;
}

header .top .menu{
	width: 50px;
	margin: 10px 0 1% 45%;

}

header .bottom{
	display: block;
	margin-top:190px;
	padding: 10%;
}

header .bottom .arrow{
	width: 18px;
}
