.fitclub {
	width: 100%;
	background-color: blue;
	height:200px;
}
.petcheck {
	width: 100%%;
	background-image:url(../images/pet.jpg);
	background-size: 200%;
	background-position: center;
	height:200px;
	padding-left:10px;
	color:white;
	
}
.forum {
	width: 100%%;
	background-color:orange;
	height: 200px;
	
}
.successstory {
	width: 100%%;
	background-color:red;
	height:400px;
	
}

.leftwrapper {
	width:50%;
	float:left;
}


.rightwrapper {
	width:50%;
	float:right;
}

.petchecktitle {
	text-transform:uppercase;
	padding-top:55%;
	margin:0;
}