.fitclub {
	width: 100%;
	background-image:url(../images/pet-fit-club.png);
	height:200px;
	background-size: 100%;
	background-position: center;
	text-align:center;
	color:white;
}
.petcheck {
	width: 100%;
	background-image:url(../images/pet-check.png);
	background-size: 100%;
	background-position: center;
	height:200px;
	color:white;
	text-align:center;
	
}
.forum {
	width: 100%;
	background-color:white;
	height: 200px;
	
}
.successstory {
	width: 100%;
	background-image:url(../images/textured-background.png);
	height:400px;
	text-align:center;
	color: white;
	
}

.leftwrapper {
	width:50%;
	float:left;
}


.rightwrapper {
	width:50%;
	float:right;
}

.petchecktitle {
	text-transform:uppercase;
	padding-top:8%;
	margin:0;
	text-align:center;
	color:white;
	font-size:2em;
}

.petfittitle {
	padding-top:15%;
	font-size:2em;
}
.successtitle {
	text-transform:uppercase;
	padding-top:8%;
	margin:0;
	text-align:center;
	color:white;
	font-size:2em;
}


.fitclub p {
	padding-left:10px;
	padding-right:10px;
}